﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#575857">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="whiteLink">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="whiteLink">@Html.ActionLink("Chatbot", "Chat", "Home")</li>
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <li class="whiteLink">@Html.ActionLink("Admin page", "AdminIndex", "Home")</li>
                        }
                    }


                    @{
                        if (Request.IsAuthenticated)
                        {
                            @*<li>@Html.ActionLink("Documents", "UploadDocument", "Document")</li>*@
                        }
                        else
                        {
                            <li class="whiteLink">@Html.ActionLink("Login", "Login", "MyAccount")</li>
                            <li class="whiteLink">@Html.ActionLink("Register", "Register", "Home")</li>
                        }
                    }

                    <li>
                        @{
                            if (Request.IsAuthenticated)
                            {
                            <li class="whiteLink">@Html.ActionLink("Edit profile", "EditProfile", "MyAccount")</li>
                            using (Html.BeginForm("Logout", "MyAccount", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <ul class="nav navbar-nav">
                                    <li class="whiteLink">
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                    </li>

                                </ul>
                            }
                        }
                        }
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>

<head>
    <link href="~/Content/css/Layout.css" rel="stylesheet" type="text/css" />
</head>