﻿@model WebApplication2.ClassOfCategory

@{
    ViewBag.Title = "AddClass";
}

<h2>AddClass</h2>

@using (Html.BeginForm("AddClass1", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ClassOfCategory</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.id_category, htmlAttributes: new { style="display:none" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.id_category, new { htmlAttributes = new { style = "display:none" } })
            @Html.ValidationMessageFor(model => model.id_category, "", new { style = "display:none" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
