﻿@model WebApplication2.Models.AdminViewModel

@{
    ViewBag.Title = "AdminIndex";
}

<h2>Administration</h2>
<div>Welcome @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : " ")(Admin)</div>

<ul class="tab">
    <li><a href="#" class="tablinks" onclick="openTab(event, 'Categories')">Categories</a></li>
    <li><a href="#" class="tablinks" onclick="openTab(event, 'Manufactures')">Manufactures</a></li>
    <li><a href="#" class="tablinks" onclick="openTab(event, 'Packages')">Packages</a></li>
    <li><a href="#" class="tablinks" onclick="openTab(event, 'Characteristic')">Characteristics</a></li>
    @*<li>*@
    <a href="#" class="tablinks" onclick="openTab(event, 'Vehicles')"></a>@*</li>*@

</ul>

<div id="Categories" class="tabcontent" style="background-color:lightgrey">
    <!--signalR web soketi-->
    <table class="table table-striped">
        @{
            <tr style="font-size:initial">
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Name of category</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Edit category</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Delete category</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Add class</td>
            </tr>
            foreach (var c in Model.category)
            {
                <tr>
                    <td>
                        <a onclick="ShowClasses(@c.id)" class="rowlink">@c.Name</a>
                    </td>
                    <td><button onclick="location.href='@Url.Action("EditCategory", "Home", new { id = c.id })'" title='Edit category'><span class='glyphicon glyphicon-pencil'></span></button></td>
                    <td><button onclick="location.href='@Url.Action("DeleteCategory", "Home", new { id = c.id })'" title='Delete category'><span class='glyphicon glyphicon-trash'></span></button></td>
                    <td><button onclick="location.href='@Url.Action("AddClass", "Home", new { id = c.id })'" title='Add class'><span class='glyphicon glyphicon-plus'></span></button></td>

                </tr>
            }
        }
    </table>
    <td><button onclick="location.href='@Url.Action("AddCategory", "Home")'" title='Add category'><span class='glyphicon glyphicon-plus'></span></button></td>
    <br />

    <div id="Class" class="tabcontent" style="background-color:lightgray">
    </div>
</div>


<div id="Manufactures" class="tabcontent" style="background-color:lightgrey">
    <table class="table table-striped">
        @{
            <tr style="font-size:initial">
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Name of manufacturer</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Edit manufacturer</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Delete manufacturer</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Add model</td>
            </tr>
            foreach (var c in Model.manufacturer)
            {
                <tr>
                    <td>
                        <a onclick="ShowModels(@c.id)" class="rowlink">@c.Name</a>
                    </td>
                    <td><button onclick="location.href='@Url.Action("EditManufacturer", "Home", new { id = c.id })'" title='Edit manufacture'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></button></td>
                    <td><button onclick="location.href='@Url.Action("DeleteManufacturer", "Home", new { id = c.id })'" title='Delete manufacture'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></td>
                    <td><button onclick="location.href='@Url.Action("AddModel", "Home", new { id = c.id })'" title='Add model'><span class='glyphicon glyphicon-plus'></span></button></td>


                </tr>
            }
        }
    </table>
    <td><button onclick="location.href='@Url.Action("Addmanufacturer", "Home")'" title='Add manufacturer'><span class='glyphicon glyphicon-plus'></span></button></td>
    <br />
    <a href="#" class="tablinks" onclick="openTab1(event, 'Models')"></a>
    <div id="Model" class="tabcontent" style="background-color:lightgray">
    </div>

</div>




<div id="Packages" class="tabcontent" style="background-color:lightgrey">
    <h3>List of packages</h3>
    <table class="table table-striped">
        @{
            <tr>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Price($) </td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Seats type </td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Air condition </td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Wheels </td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Airbags </td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Engine </td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Fuel </td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Edit package </td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Delete package </td>

            </tr>
            foreach (var c in Model.package)
            {

                <tr>
                    <td>@c.Price</td>
                    <td>@c.seats_type</td>
                    <td>@c.air_conditioning</td>
                    <td>@c.wheels</td>
                    <td>@c.airbags</td>
                    <td>@c.engine</td>
                    <td>@c.fuel</td>
                    <td><button onclick="location.href='@Url.Action("EditPackage", "Home", new { id = c.id })'" title='Edit package'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></button></td>
                    <td><button onclick="location.href='@Url.Action("DeletePackage", "Home", new { id = c.id })'" title='Delete package'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></td>
                </tr>
            }
        }
    </table>
    <td><button onclick="location.href='@Url.Action("AddPackage", "Home")'" title='Add package'><span class='glyphicon glyphicon-plus'></span></button></td>

</div>
<div id="Characteristic" class="tabcontent" style="background-color:lightgrey">
    <h3>List of characteristics</h3>
    <table class="table table-striped">
        @{
            <tr>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Number of doors</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Quantity</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Mileage</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Color</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Number of seats</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Edit characteristic</td>
                <td style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Delete characteristic</td>
            </tr>
            foreach (var c in Model.characteristic)
            {
                <tr>
                    <td>@c.doors</td>
                    <td>@c.quantity</td>
                    <td>@c.mileage</td>
                    <td>@c.color</td>
                    <td>@c.number_of_seats</td>
                    <td><button value="asdasdas" onclick="location.href='@Url.Action("EditCharacteristic", "Home", new { id = c.id })'" title='Edit characteristic'><span class='glyphicon glyphicon-pencil'></span></button></td>
                    <td><button onclick="location.href='@Url.Action("DeleteCharacteristic", "Home", new { id = c.id })'" title='Delete characteristic'><span class='glyphicon glyphicon-trash'></span></button></td>
                </tr>
            }
        }
    </table>
    <td><button value="Add Characteristic" onclick="location.href='@Url.Action("AddCharacteristic", "Home")'" title='Add characteristic'><span class='glyphicon glyphicon-plus'></span></button></td>
</div>


<script>
    function openTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabcontent.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    var lastcategory;
    var lastmanufacturer;

    function openTab1(evt, cityName) {
        document.getElementById(cityName).style.display = "block";
    }



    function ShowClasses(id) {
        console.log(id);
        $.ajax( {
            type: "GET",
            url: "http://localhost:63555/api/list?id=" + id,
            success:
                function (data) {
                    if (data != null) {
                        console.log(data);
                        lastcategory = id;
                        console.log("usao");
                        var table = "<table class='table table-striped'> "
                        table += "<tr>";
                        //table += "<th>ID</th>";
                        table += "<th>Class</th>";
                        table += "<th>Edit class</th>";
                        table += "<th>Delete class</th>";
                        table += "</tr>";

                        for (var i = 0; i < data.length; i++) {
                            table += "<tr>";
                            console.log(data[i]);
                            console.log(data[i].Name);
                            //table += "<td>" + data[i]["<Id_class>k__BackingField"] + "</td>";
                            table += "<td>" + data[i].Name + "</td>";
                            table += "<td><a onclick=\"EditClasses('" + data[i].id + "')\"><button title='Edit class'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></button></a></td>";
                            table += "<td><a onclick=\"DeleteClass('" + data[i].id + "')\"><button title='Delete class'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></a></td>";

                            table += "</tr>";
                        }

                        table += "</table>";

                        document.getElementById("Class").innerHTML = table;
                        document.getElementById("Class").style.display = "block";
                    }
                    else {
                        var table = "<table class='table'>";
                        table += "<tr>";
                        //table += "<th>ID</th>";
                        table += "<th>Class</th>";
                        table += "</tr>";
                    }
                }
        });
    }

    function ShowModels(id) {
        console.log(id);
        $.ajax( {
            type: "GET",
            url: "http://localhost:63555/api/listModels?id=" + id,
            success:
                function (data) {
                    console.log("usao");
                    lastmanufacturer = id;
                    var table = "<table class='table table-striped'>";
                    table += "<tr>";
                    //table += "<th>ID</th>";
                    table += "<th>Model</th>";
                    table += "<th>Year of production</th>"
                    table += "<th>Edit model</th>";
                    table += "<th>Delete model</th>";
                    table += "</tr>";

                    for (var i = 0; i < data.length; i++) {
                        table += "<tr>";
                        //table += "<td>" + data[i]["<Id_class>k__BackingField"] + "</td>";
                        table += "<td>" + data[i].Name + "</td>";
                        table += "<td>" + data[i].year_of_production + "</td>";
                        table += "<td><a onclick=\"EditModels('" + data[i].id + "')\"><button title='Edit model'><span class='glyphicon glyphicon-pencil' aria-hidden='true''></span></button></a></td>";
                        table += "<td><a onclick=\"DeleteModels('" + data[i].id + "')\"><button title='Delete model'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></a></td>";
                        table += "</tr>";
                    }

                    table += "</table>";

                    document.getElementById("Model").innerHTML = table;
                    document.getElementById("Model").style.display = "block";
                }
        });
    }
    function DeleteClass(id) {
        console.log(id);
        $.ajax( {
            type: "GET",
            url: "http://localhost:63555/api/claassofcat/" + id + "/delete",
            success:
                function (data) {
                    console.log("usao");
                    ShowClasses(lastcategory);
                }
        });
    }

    function DeleteModels(id) {
        console.log(id);
        $.ajax( {
            type: "GET",
            url: "http://localhost:63555/api/modelvehicle/" + id + "/delete",
            success:
                function (data) {
                    console.log("usao");
                    ShowModels(lastmanufacturer);
                }
        });
    }

    function EditClasses(id) {
        window.location = "/Home/EditClasses/" + id;
    }

    function EditModels(id) {
        window.location = "/Home/EditModel/" + id;
    }


</script>

<head>
    <link href="~/Content/css/AdminIndex.css" rel="stylesheet" type="text/css" />
</head>