﻿@model WebApplication2.Characteristic
@{
    ViewBag.Title = "EditCharacteristic";
}

<h2>EditCharacteristic</h2>

@using (Html.BeginForm("EditCharacteristic", "Home", FormMethod.Post))
{
<p> Color:</p>@Html.EditorFor(model => model.color, new { htmlAttributes = new { @class = "form-control" } })<br>
<p> Dors:</p>@Html.EditorFor(model => model.doors, new { htmlAttributes = new { @class = "form-control" } })<br>
<p> Quantity:</p>@Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })<br>
<p> Mileage:</p>@Html.EditorFor(model => model.mileage, new { htmlAttributes = new { @class = "form-control" } })<br>
<p> ID Package:</p>@Html.EditorFor(model => model.id_package, new { htmlAttributes = new { @class = "form-control" } })<br>
<p> ID Model:</p>@Html.EditorFor(model => model.id_model, new { htmlAttributes = new { @class = "form-control" } })<br>
<p> ID Category:</p>@Html.EditorFor(model => model.id_category, new { htmlAttributes = new { @class = "form-control" } })<br>
<p> Number of seats:</p>@Html.EditorFor(model => model.number_of_seats, new { htmlAttributes = new { @class = "form-control" } })<br>


    @Html.TextBoxFor(model => model.id, new { style = "display:none" })
<input type="submit" value="Submit" />
}
