﻿@model WebApplication2.Manufacturer
@{
    ViewBag.Title = "EditManufacturer";
}

<h2>EditManufacturer</h2>
@using (Html.BeginForm("EditManufacturer", "Home", FormMethod.Post))
{
<p> Name of manufacturer :</p>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })<br>


    @Html.TextBoxFor(model => model.id, new { style = "display:none" })
<input type="submit" value="Submit" />
}


