﻿@model WebApplication2.Model_vehicle
@{
    ViewBag.Title = "EditModel";
}

<h2>EditCategory</h2>

@using (Html.BeginForm("EditModel", "Home", FormMethod.Post))
{
    <p> Name of class:</p>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Year of production:</p>@Html.EditorFor(model => model.year_of_production, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> ID Manufacturer:</p> @Html.DropDownListFor(model => model.id_manufacturer, ViewBag.FilterManu as SelectList, "Select Model")<br><br>
    @Html.TextBoxFor(model => model.id, new { style = "display:none" })
    <input type="submit" value="Submit" />
}
