﻿@model WebApplication2.ClassOfCategory
@{
    ViewBag.Title = "EditClasses";
}

<h2>EditClasses</h2>

@using (Html.BeginForm("EditClasses", "Home", FormMethod.Post))
{
<p> Name of class :</p>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })<br>
    @Html.TextBoxFor(model => model.id, new { style = "display:none" })
<input type="submit" value="Submit" />
}
