﻿@model WebApplication2.Package
@{
    ViewBag.Title = "EditPackage";
}

<h2>EditPackage</h2>
@using (Html.BeginForm("EditPackage", "Home", FormMethod.Post))
{
    <p> Price:</p>@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Seats:</p>@Html.EditorFor(model => model.seats_type, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Wheels:</p>@Html.EditorFor(model => model.wheels, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Air conditioning:</p>@Html.EditorFor(model => model.air_conditioning, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Engine:</p>@Html.EditorFor(model => model.engine, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Airbags:</p>@Html.EditorFor(model => model.airbags, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Fuel:</p>@Html.EditorFor(model => model.fuel, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> ID Category:</p>@Html.DropDownListFor(model => model.id_category, ViewBag.Filter as SelectList, "Select category")<br><br><br>
    @Html.TextBoxFor(model => model.id, new { style = "display:none" })
    <input type="submit" value="Submit" />
}

