﻿body {
    background-image: url(/Content/images/chatbot-for-business.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
}

.navbar-brand {
    background-image: url(/Content/images/inovatec.png);
    background-repeat: no-repeat;
    background-size: 220px 121px;
    height: 100px;
    margin: -35px;
    width: 261px;
    font-size: 14px;
}
