﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.whiteLink a {
        color: white !important;
    }

.navbar-brand {
    background-image: url(/Content/inovatec.png);
    background-repeat: no-repeat;
    background-size: 220px 121px;
    height: 100px;
    margin: -35px;
    width: 261px;
}